
/* -- CSS Reset -- */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  margin: 0; }

img.alignright {
  float: right; }

img.alignleft {
  float: left; }

img.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto; }

body {
  background-color: #FFFFFF;
  border-style: none; }

body,
p,
a,
a:hover {
  color: #000000; }

a,
a:hover {
  text-decoration: none;
  border: none;
  border-style: none;
  box-shadow: none; }

/* -- Content -- */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  background-color: #141414; }

.topnav a {
  float: right;
  color: #f2f2f2;
  opacity: 1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  text-decoration: underline;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: black;
}

body.page-template-page-fullsingle-me {
  height: 100vh;
  background-color: #141414;
  font-family: 'Marcellus SC', serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #000000;
  background-image: url("../../assets/images/LandingPageBG.png");
  background-position: center center;
  background-size: cover; 
}
  body.page-template-page-fullsingle-me p {
    color: #000000; }
    @media (max-width: 800px) {
      body.page-template-page-fullsingle-me p {
        font-size: 24px;
        line-height: 40px; } }
            @media (max-width: 450px) {
      body.page-template-page-fullsingle-me p {
        font-size: 20px;
        line-height: 30px; } }

.fs-me {
  padding: 5vh 5vw;
  overflow: hidden;
  position: absolute;
  z-index: 1000; }
  @media (max-width: 500px) {
    .fs-me {
      padding: 5vh 5vw;
      text-align: center; } }
  .fs-me .me-content {
    height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 500px) {
      .fs-me .me-content {
        height: 80vh; } }

.bio {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
  letter-spacing: -1px;
  max-width: 100%; }
  @media (max-width: 800px) {
    .bio {
      max-width: none; } }
      .bio p{
           margin-right: 100px;
           margin-left: 100px;
      }
  .bio a {
    color: #FFFFFF;
    -webkit-transition: 1s;
    transition: 1s; }
    .bio a:hover {
      color: #FFFFFF;
      -webkit-transition: 0.1s;
      transition: 0.1s; }

.credit {
  font-size: 24 px;
  line-height: 14px;
  margin-bottom: 0;
  -webkit-animation: fadein 8s;
          animation: fadein 8s; }
  .credit p.copyright {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    opacity: 1; }
    .credit p.copyright a {
      color: #000000; }
